footer.footer#contact 
    .footer__logo
        img(src='/img/logo-long.png' alt='SkyTrip logo')
    .footer__nav
        img(src='/img/contact-icon.png' alt='Contact Icon')

    p.footer__copyright &copy; by Anita & Yuqi. All rights reserved.
